{
    "extends": "airbnb-base",
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "env": {
        "node": true,
        "jest/globals": true
    },
    "rules": {
        "import/prefer-default-export": "off"
    }
}