{
    "extends": ["plugin:@typescript-eslint/recommended", "airbnb-base"],
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "jest",
        "@typescript-eslint"
    ],
    "env": {
        "node": true,
        "jest/globals": true
    },
    "rules": {
        "import/prefer-default-export": "off",
        "import/extensions": [
            "error",
            "ignorePackages",
            {
              "js": "never",
              "jsx": "never",
              "ts": "never",
              "tsx": "never"
            }
         ],
         "no-shadow": "off",
         "@typescript-eslint/no-shadow": ["error"]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}